kafkaProducerUsingSoapService/WebContent/wsdl/EmployeeDataImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.comviva.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.comviva.com" xmlns:intf="http://soap.comviva.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.comviva.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertEmployee">
    <complexType>
     <sequence>
      <element name="emp" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Employee">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="insertEmployeeResponse">
    <complexType>
     <sequence>
      <element name="insertEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertEmployeeResponse">

      <wsdl:part element="impl:insertEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertEmployeeRequest">

      <wsdl:part element="impl:insertEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeDataImpl">

      <wsdl:operation name="insertEmployee">

         <wsdl:input message="impl:insertEmployeeRequest" name="insertEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertEmployeeResponse" name="insertEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeDataImplSoapBinding" type="impl:EmployeeDataImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeDataImplService">

      <wsdl:port binding="impl:EmployeeDataImplSoapBinding" name="EmployeeDataImpl">

         <wsdlsoap:address location="http://localhost:8083/kafkaProducerUsingSoapService/services/EmployeeDataImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
